<h1>Cart</h1>
<div class="row mt-4" id="cartContent"></div>
<h3>Cart ID: {{carth._id}}</h3>
<ul>
  {{#each carth.products}}
    <li>
      <h4>Id: {{this.product._id}}</h4>
      <h2>Title: {{this.product.title}}</h2>
      <p>Description: {{this.product.description}}</p>
      <h4>Code: {{this.product.code}}</h4>
      <p>Price: {{this.product.price}}</p>
      <p>Status: {{this.product.status}}</p>
      <p>Image: {{this.product.thumbnail}}</p>
      <p>Cantidad: {{this.quantity}}</p>
    </li>
  {{/each}}
</ul>
<button id="checkoutButton" type="submit" class="btn checkoutButtonStyle m-3" data-cid="{{carth._id}}" >Checkout</button>

<div class="row mt-4" id="cart"></div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/checkout.js" type="module"></script>