<h1>PRODUCTOS</h1>

<div>
    {{#each producth }}
        <ul>
            <li>
                id: {{this.this._id}}
            </li>
            <li>
                title: {{this.title}}
            </li>
            <li>
                description: {{this.description}}
            </li>
            <li>
                price: ${{this.price}}
            </li>
            <li>
                category: {{this.category}}
            </li>
            <li>
                status: {{this.status}}
            </li>
            <li>
                code: {{this.code}}
            </li>
            <li>
                stock: {{this.stock}}
            </li>
            <li>
                thumbnail: {{this.thumbnail}}
            </li>
        </ul>
    {{/each}}
    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}
    {{page}}
     {{#if hasNextPage}}
    <a href="/?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}
</div>

