 <div>
        <h1>Hola {{user.first_name}} {{user.last_name}}</h1>
        <p>{{user.email}}</p>
        <p>Tienes {{user.age}}</p>
        <p>Tu rol es de {{user.role}}</p>
    </div>
    <button>
     <a href="/products" class="btn btn-secondary m-3 seguir-comprando-btn">Seguir Comprando</a>
     </button>
     
    <button id="logOutButton" type="submit" class="btn logOutButtonStyle m-3" >Log Out</button>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/logout.js" type="module"></script>