<div>
    <h1>Hola {{user.first_name}} {{user.last_name}}</h1>
    <p>{{user.email}}</p>
    <p>Tu rol es de {{user.role}}</p>
</div>
    {{#unless (equalsIgnoreCase user.role 'ADMIN')}}
 <button>
    <a href="/products" class="btn btn-secondary m-3 keep-shopping-btn">Seguir Comprando</a>
</button>
{{/unless}}


{{#if (equalsIgnoreCase user.role 'USER')}}
    <button>
        <a href="/premium/{{user.id}}" class="btn btn-secondary m-3 change-role-btn">Cambiar role</a>
    </button>
{{/if}}
{{#if (equalsIgnoreCase user.role 'PREMIUM')}}
    <button>
        <a href="/premium/{{user.id}}" class="btn btn-secondary m-3 change-role-btn">Cambiar role</a>
    </button>
{{/if}}

<button>
    <a href="/realTimeProducts" class="btn btn-secondary m-3 add-product-btn">Crear producto</a>
</button>

<button id="logOutButton" type="submit" class="btn logOutButtonStyle m-3">Log Out</button>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/logout.js" type="module"></script>









