<div>
    {{#if checkoutData.ticket}}
  <h1>Orden de compra </h1>
  <h3>Gracias por su compra {{checkoutData.ticket.purchaser }}</h3>
  <h3>El numero de orden de compra {{ checkoutData.ticket.code }}</h3>
  <h3>El total de la orden: ${{ checkoutData.ticket.amount }}</h3>
  {{/if}}

{{#if checkoutData.Outstock }}
  <h2>Los productos que no se pudieron comprar porque no hay suficiente stock son</h2>
  <h3>Sin Stock:</h3>
  <ul>
    {{#each checkoutData.Outstock}}
      <li>
        <p>Nombre: {{ this.name }}</p>
        <p>Precio: {{ this.price }}</p>
        <p>Cantidad: {{ this.quantity }}</p>
      </li>
    {{/each}}
  </ul>
  {{/if}}
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/checkout.js" type="module"></script>