<h2>USERS</h2>

{{#each userh }}
<ul>
    <li>
        id: {{id}}
    </li>
    <li>
        Nombre: {{first_name}}
    </li>
    <li>
        Apellido: {{last_name}}
    </li>
    <li>
        Email: {{email}}
    </li>
    <li>
        Role: {{role}}
    </li>
    <li>
        Cart: {{cart}}
    </li>
    {{last_connection}}
    <li>
        thumbnail:
        {{#if thumbnail}}
        <img src="data:image/png;base64, {{thumbnail}}" alt="Thumbnail">
        {{else}}
        No Image Available
        {{/if}}
    </li>
</ul>
{{/each}}